<% @tshirts.where(user_id: current_user).each do |tshirt| %>
  <div>
    <h3><%= tshirt.name %></h3>
  </div>
  <br>
  <div>
  <%= image_tag tshirt.image.url, class: "img-responsive" %>
  </div>
  <% end %>
