<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-1" style="text-align:center">
      <%= image_tag @users.find(current_user).avatar.url, class: "img-responsive" %>
      <hr>
      <h3 class="text-muted">
        Username: <%= @users.find(current_user).username %>
      </h3>
      <hr>
      <%= link_to "/USER/:ID/VOTES", user_tshirts_path(current_user) %>
    </div>
    
    <br>
    <br>
    <br>

    <div class="col-lg-8" style="text-align:center">
      <h1>
        <%= link_to "MANAGE T-SHIRTS", user_tshirts_path(current_user) %>
      </h1>
    </div>

  </div>

</div>