// COLORS //
$lightBlue: #add8e6;
$white: #FFFFFF;

.jumbotron{
	background-image: image-url("tees.png");
	background-color: lightblue;
	background-size: contain;
	height: 850px;
	opacity: 0.5px;
}

.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
}