// COLORS //
$lightBlue: #add8e6;
$white: #FFFFFF;

.jumbotron{
	background-image: image-url("tees.png");
	background-color: $lightBlue !important;
	background-size: contain;
	height: 890px;
	opacity: 0.5px;
}

.footer{
	position: absolute;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}