<div class="container-fluid voting">
  <br>
  
    <div class="col-md-12" style="height:100%">
      <div class="row votinggrid" style="height:100%">
      
        <% @tshirts.where(user_id: @user).each do |tshirt| %>
        <div class="col-md-4">
            <div>
              <%= image_tag tshirt.image.url, class: "img-responsive" %>
            </div>
            <div>
              <%= button_to "Vote", :data => {:confirm => 'Are you sure you want to vote on this t-shirt?'}, method: :post, class: "btn btn-info inline-block" %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
